-- MySQL dump 10.13  Distrib 8.0.38, for Win64 (x86_64)
--
-- Host: localhost    Database: jobportal
-- ------------------------------------------------------
-- Server version	8.0.38

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `application`
--

DROP TABLE IF EXISTS `application`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `application` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `applied_date` date DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  `job_id` bigint DEFAULT NULL,
  `resume_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKblh7clgv7im3poxncotven9ue` (`job_id`),
  KEY `FKbjw2t6bdnqwaew7qsg5nu2aeq` (`resume_id`),
  KEY `FKldca8xj6lqb3rsqawrowmkqbg` (`user_id`),
  CONSTRAINT `FKbjw2t6bdnqwaew7qsg5nu2aeq` FOREIGN KEY (`resume_id`) REFERENCES `resume_entity` (`id`),
  CONSTRAINT `FKblh7clgv7im3poxncotven9ue` FOREIGN KEY (`job_id`) REFERENCES `jobs` (`id`),
  CONSTRAINT `FKldca8xj6lqb3rsqawrowmkqbg` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `application`
--

LOCK TABLES `application` WRITE;
/*!40000 ALTER TABLE `application` DISABLE KEYS */;
/*!40000 ALTER TABLE `application` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `education_entity`
--

DROP TABLE IF EXISTS `education_entity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `education_entity` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `college` varchar(255) DEFAULT NULL,
  `degree` varchar(255) DEFAULT NULL,
  `percentage` varchar(255) DEFAULT NULL,
  `year` varchar(255) DEFAULT NULL,
  `resume_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKr9n8a777505gkh73rq3q3afyk` (`resume_id`),
  CONSTRAINT `FKr9n8a777505gkh73rq3q3afyk` FOREIGN KEY (`resume_id`) REFERENCES `resume_entity` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `education_entity`
--

LOCK TABLES `education_entity` WRITE;
/*!40000 ALTER TABLE `education_entity` DISABLE KEYS */;
/*!40000 ALTER TABLE `education_entity` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `experience_entity`
--

DROP TABLE IF EXISTS `experience_entity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `experience_entity` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `company` varchar(255) DEFAULT NULL,
  `duration` varchar(255) DEFAULT NULL,
  `role` varchar(255) DEFAULT NULL,
  `resume_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK2uxnm0vbncenvpjs5dyf1m4nn` (`resume_id`),
  CONSTRAINT `FK2uxnm0vbncenvpjs5dyf1m4nn` FOREIGN KEY (`resume_id`) REFERENCES `resume_entity` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `experience_entity`
--

LOCK TABLES `experience_entity` WRITE;
/*!40000 ALTER TABLE `experience_entity` DISABLE KEYS */;
/*!40000 ALTER TABLE `experience_entity` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `company` varchar(255) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `location` varchar(255) DEFAULT NULL,
  `salary` double NOT NULL,
  `title` varchar(255) DEFAULT NULL,
  `recruiter_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK6jncph86jcta0m3yydu2691yg` (`recruiter_id`),
  CONSTRAINT `FK6jncph86jcta0m3yydu2691yg` FOREIGN KEY (`recruiter_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
INSERT INTO `jobs` VALUES (1,NULL,'Java ,Spring Boot','Mumbai',49999,'Full Stack Developer',NULL),(2,NULL,'','',50000,'',NULL),(3,NULL,'','',0,'',NULL);
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resume_entity`
--

DROP TABLE IF EXISTS `resume_entity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `resume_entity` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `address` varchar(255) DEFAULT NULL,
  `github` varchar(255) DEFAULT NULL,
  `linkedin` varchar(255) DEFAULT NULL,
  `summary` varchar(255) DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_8t9bp48h12bc3s6dwe4lfbvnn` (`user_id`),
  CONSTRAINT `FKhdnw6gwdilfcdm1cs2auqn2xp` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resume_entity`
--

LOCK TABLES `resume_entity` WRITE;
/*!40000 ALTER TABLE `resume_entity` DISABLE KEYS */;
INSERT INTO `resume_entity` VALUES (1,NULL,NULL,NULL,'pagnehotum',NULL);
/*!40000 ALTER TABLE `resume_entity` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `skills_entity`
--

DROP TABLE IF EXISTS `skills_entity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `skills_entity` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `skill_name` varchar(255) DEFAULT NULL,
  `resume_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKgvt0s1bxas7a3g42rhk04huhr` (`resume_id`),
  CONSTRAINT `FKgvt0s1bxas7a3g42rhk04huhr` FOREIGN KEY (`resume_id`) REFERENCES `resume_entity` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `skills_entity`
--

LOCK TABLES `skills_entity` WRITE;
/*!40000 ALTER TABLE `skills_entity` DISABLE KEYS */;
/*!40000 ALTER TABLE `skills_entity` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `email` varchar(255) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `role` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES (3,'ay@gmail.com','pagal','$2a$10$feWs2QMeDoyk/9FG5sorVOUZvA3U/clFkEAZT0RMmcpbxtae2Ncxy',NULL,'ADMIN'),(4,'test@gmail.com','Test User','$2a$10$feWs2QMeDoyk/9FG5sorVOUZvA3U/clFkEAZT0RMmcpbxtae2Ncxy','1234567890','USER'),(5,'annu@gmail.com','Annu','$2a$10$QFh1r8iBTE3eL5.Lft0WgeamfptbwDg.HIuCi43gZtDZeQ9l61cxm',NULL,'RECRUITER'),(6,'recruiter@gmail.com','Recruiter','$2a$10$feWs2QMeDoyk/9FG5sorVOUZvA3U/clFkEAZT0RMmcpbxtae2Ncxy','1234567890','RECRUITER'),(7,'admi@gmail.com','Admin','$2a$10$w9Me9CELX.9SgQtXeb/O7ep8WBWUkCQ8T3RJmWgoK0x7GVCNZJ8T2',NULL,'ADMIN');
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-14 11:06:03
